body {
  radix-connect-button {
    margin-top: 4px;
    margin-right: 4px;
    z-index: 2147483647;
  }

  --radix-connect-button-border-radius: 4px;

  .radix-connect-button-container {
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:20px;
  }
}
